:root {
    color-scheme: light dark;
    --header-color-dark: #001a00;
    --header-color-light: #d2ffdd;
}

.header {
    width: 100%;
    background-color: light-dark(var(--header-color-light), var(--header-color-dark));

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    
    position: relative;
    z-index: 10;
}